/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* {box-sizing: border-box;}
*:focus {outline: none;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {list-style:none;}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
		text-decoration:none;
}
a:hover {text-decoration:none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {vertical-align:middle;}
input::-webkit-input-placeholder{color:#000;}
input:focus::-webkit-input-placeholder{color:#000;}
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
  display: block;
  position:relative;
  overflow: hidden;
  max-width:1400px;
  width: 100%;
	margin:0 auto 0 auto;
}
header,
main,
footer,
section {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}
#content {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}

header {
  width: 100%;
  background-color: rgba(135, 206, 250, 0.1);
  padding: 20px 0 20px 0;
}
header .layout{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .layout .logo{
  width: 230px;
  height: 50px;
}
header .layout .logo a img{
  width: 100%;
  height: 100%;
}
header .layout .logo h1{
  text-indent: -9999px;
}
header .layout nav{
  display: flex;
  align-items: center;
  gap: 50px;
}
header .layout nav ul{
  display: flex;
  gap: 30px;
}
header .layout nav ul li{
  margin: 0 0 11px 0;
}
header .layout nav ul li a{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #0000cd; 
  transition: .3s;
}
header .layout nav ul li a:hover{
 text-decoration: underline 2px solid #0000cd;
}

header .layout nav button{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #00f;
  border-color: #00f;
  border-radius: 30px;
  width: 220px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 0 11px 0;
  transition: .3s;
}
header .layout nav button:hover{
  background-color: #0000cd;
  box-shadow: 10px 10px 8px rgba(9, 24, 245, 0.2);
  cursor:pointer;
}

@media (max-width: 767px) {
  header .layout nav{
    display: none;
  }
}

main{
  padding: 20px 0 0 0;
}
main .first_view{
  width: 100%;
}
main .first_view .layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .first_view .layout .text{
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 40%;
}
main .first_view .layout .text h2{
  font-size: 40px;
  font-weight: 600;
  color: #0000cd;
  margin: 0 0 70px 0;
}
main .first_view .layout .text p{
   color: #0000ff;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 100px 0;
}
main .first_view .layout .text button{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #00f;
  border-color: #00f;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  margin: 0 0 20px 0;
  transition: .3s;
}
main .first_view .layout .text button:hover{
  background-color: #0000cd;
  box-shadow: 10px 10px 8px rgba(9, 24, 245, 0.2);
  cursor:pointer;
}
main .first_view .layout .img_holder{
  width: 60%;
  height: 500px;
  margin: 20px;
}
main .first_view .layout .img_holder img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0  0 20px rgba(135, 206, 250);
}

@media (max-width: 767px) {
  main .first_view .layout{
    flex-direction: column;
  }
  main .first_view .layout .text{
  width: 90%;
}
  main .first_view .layout .text h2{
  font-size: 30px;
  margin: 0 0 40px 0;
}
main .first_view .layout .text p{
  font-size: 18px;
  margin: 0 0 40px 0;
}
main .first_view .layout .img_holder{
  width: 90%;
  height: 200px;
  margin: 20px;
}
}

main .advantages{
  padding: 40px 0 40px 0;
  background-color: rgba(135, 206, 250, 0.1);
}
main .advantages .layout h2{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #191970;
  text-align: center;
  margin: 0 0 50px 0;
}
main .advantages .layout .advantages_container{
  display: flex;
  justify-content: center;
  gap: 50px;
}
main .advantages .layout .advantages_container .advantage_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
  height: 130px;
  border: 2px solid #000080;
  border-radius: 8px;
  box-shadow: inset 0 0 20px rgba(0, 0, 128, 0.4);
  transition: .3s;
}
main .advantages .layout .advantages_container .advantage_card:hover{
  transform: translateY(-8px);
}

main .advantages .layout .advantages_container .advantage_card .advantage_card_icon{
  width: 50px;
  height: 50px;
}
main .advantages .layout .advantages_container .advantage_card .advantage_card_icon_car{
  width: 60px;
  height: 50px;
}
main .advantages .layout .advantages_container .advantage_card .advantage_card_icon img{
  width: 100%;
  height: 100%;
}
main .advantages .layout .advantages_container .advantage_card .advantage_card_title p{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #191970;
}

@media (max-width: 767px){
  main .advantages .layout .advantages_container{
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }
  main .advantages .layout .advantages_container .advantage_card:hover{
  transform: none;
}
}

main .services{
  padding: 50px 0 50px 0;
}
main .services .layout h2{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #191970;
  margin: 0 0 80px 0;
  text-align: center;
}
main .services .layout .services_card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  justify-items: center;
  margin: 0  0 50px 0;
}
main .services .layout .services_card .card{
  width: 250px;
  transition: transform .2s;
} 
main .services .layout .services_card .card:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
main .services .layout .services_card .card .card_icon{
  width: 200px;
  height: 200px;
}
main .services .layout .services_card .card .card_icon img{
  width: 100%;
  height: 100%;
}
main .services .layout .services_card .card .card_title p{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #191970;
}

@media (max-width: 767px){  
  main .services .layout .services_card{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin: 0 auto 0 auto;
}
  main .services .layout .services_card .card:hover{
  transform: none;
  transition: none;
}
  main .services .layout .services_card .card{
  width: 200px;
} 
}

main .prices{
  padding: 40px 0 40px 0;
  background-color: rgba(135, 206, 250, 0.1);
}
main .prices .layout h2{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #191970;
  margin: 0 0 80px 0;
  text-align: center;
}
main .prices .layout .tariffs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 0 0 30px 0;
}

main .prices .layout .tariffs .tariffs_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  width: 320px;
  padding: 40px 10px 40px 10px;
  background-color: rgba(135, 206, 250, 0.3);
  border-radius: 10px;
  transition: .3s;
}
main .prices .layout .tariffs .tariffs_card:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}
main .prices .layout .tariffs .popular{
  border: 2px solid #00f;
  background-color: rgba(135, 206, 250, 0.6);
  position: relative;  
}
main .prices .layout .tariffs .popular::before{
  content: "Популярне";
  color: #00f;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  position: absolute;
   top: -30px;
   left: 0;
}
main .prices .layout .tariffs .tariffs_card h3{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #191970;
  text-align: center;
  margin: 0 0 20px 0;
}
main .prices .layout .tariffs .popular h3{
  font-size: 26px;
}
main .prices .layout .tariffs .tariffs_card p{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #191970;
  text-align: center;
}
main .prices .layout .tariffs .tariffs_card p span{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #191970;
}
main .prices .layout .tariffs .tariffs_card .button{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #191970;
  margin: 20px 0 0 0;
  transition: .3s;
}
main .prices .layout .tariffs .tariffs_card .button:hover{
  background-color: #0000cd;
  box-shadow: 0 5px 8px rgba(9, 24, 245, 0.2);
}

@media (max-width: 1439px) {
   main .prices .layout .tariffs{
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
  main .prices .layout .tariffs .tariffs_card:hover{
   box-shadow: none;
  transform: none;
}
  main .prices .layout .tariffs .tariffs_card .button:hover{
    background-color: none;
    box-shadow: none;
}
}
@media (max-width: 767px){
  main .prices .layout .tariffs{
  grid-template-columns: 1fr;
  gap: 25px;
}
  main .prices .layout .tariffs .tariffs_card{
  width: 300px;
  max-width: 100%;
  gap: 25px;
  padding: 20px 5px 20px 5px;
}
  main .prices .layout .tariffs .tariffs_card h3{
  font-size: 22px;
  margin: 0 0 10px 0;
}
  main .prices .layout .tariffs .tariffs_card p{
  font-size: 16px;
}
  main .prices .layout .tariffs .tariffs_card p span{
  font-size: 20px;
}
  main .prices .layout .tariffs .tariffs_card .button{
  font-size: 18px;
  width: 150px;
}
main .prices .layout .tariffs .tariffs_card .button:hover{
  background-color: none;
  box-shadow: none;
}
  main .prices .layout .tariffs .tariffs_card:hover{
   box-shadow: none;
  transform: none;
}
}

main .customer_reviews{
  padding: 40px 0 40px 0;
}
main .customer_reviews .layout h2{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #191970;
  margin: 0 0 80px 0;
  text-align: center;
}
main .customer_reviews .layout .reviews{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  gap: 50px;
 
}
main .customer_reviews .layout .reviews .marks::before{
  content: open-quote;
  font-size: 40px;
  color: #191970;
   position: absolute;
   top: -40px;
   left: 30px;
}
main .customer_reviews .layout .reviews .reviews_card{
  width: 350px;
  min-height: 220px;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(9, 24, 245, 0.2);
  transition: .3s;
   position: relative;
}
main .customer_reviews .layout .reviews .reviews_card:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-5px);
}
main .customer_reviews .layout .reviews .reviews_card .client{
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
main .customer_reviews .layout .reviews .reviews_card .client .name_photo{
  display: flex;
  align-items: center;
}
main .customer_reviews .layout .reviews .reviews_card .client .name_photo .client_holder{
  width: 80px;
  height: 80px;
}
main .customer_reviews .layout .reviews .reviews_card .client .name_photo .client_holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
main .customer_reviews .layout .reviews .reviews_card .client .name_photo .client_name{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #191970;
}
main .customer_reviews .layout .reviews .reviews_card .client .rating:before{
  content: "★★★★★";
  color: #ffd700;
}
main .customer_reviews .layout .reviews .reviews_card .date{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191970;
  margin: 0 0 20px 0;
}
main .customer_reviews .layout .reviews .reviews_card .reviews_text p{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #191970;
}

@media (max-width: 1439px) {
  main .customer_reviews .layout .reviews{
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
  main .customer_reviews .layout .reviews .reviews_card:hover{
    box-shadow:  0 0 8px rgba(9, 24, 245, 0.2);
    transform: none;
}
}
@media (max-width: 767px){
  main .customer_reviews .layout .reviews{
  grid-template-columns: 1fr;
  gap: 25px;
}
  main .customer_reviews .layout .reviews .reviews_card:hover{
    box-shadow:  0 0 8px rgba(9, 24, 245, 0.2);
    transform: none;
}
}

main .blank{
  padding: 40px 0 40px 0;
  background-color: rgba(135, 206, 250, 0.1);
}
main .blank .layout{
  max-width: 1010px;
}
main .blank .layout h2{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #191970;
  margin: 0 0 80px 0;
  text-align: center;
}
main .blank .layout .blank_all{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
main .blank .layout .blank_all .blank_text{
  
}
main .blank .layout .blank_all .blank_text p{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #191970;
  text-align: center;
  width: 500px;
}
main .blank .layout .blank_all .blank_form{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(9, 24, 245, 0.2);
  padding: 20px;
  margin: 0 0 20px 0;
}
main .blank .layout .blank_form form{
  display: flex;
  flex-direction: column;
}
main .blank .layout .blank_form form label{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #191970;
  margin: 0 0 5px 0;
}
main .blank .layout .blank_form form input{
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin: 0 0 15px 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #191970;
  border: 1px solid #0000ff;
  border-radius: 4px;
  padding: 5px;
  background-color: rgba(135, 206, 250, 0.1);
}
main .blank .layout .blank_form form input:focus{
  box-shadow: 0 0 15px rgba(9, 24, 245, 0.2);
}
main .blank .layout .blank_form form select{
  width: 100%;
  max-width: 300px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #191970;
  margin: 0 0 15px 0;
  border: 1px solid #0000ff;
  border-radius: 4px;
  padding: 5px;
  background-color: rgba(135, 206, 250, 0.1);
}
main .blank .layout .blank_form form select:focus{
  box-shadow: 0 0 15px rgba(9, 24, 245, 0.2);
}
main .blank .layout .blank_form form select option{}
main .blank .layout .blank_form form textarea{
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin: 0 0 30px 0;
  border: 1px solid #0000ff;
  border-radius: 4px;
  padding: 5px;
  background-color: rgba(135, 206, 250, 0.1);
}
main .blank .layout .blank_form form textarea:focus{
  box-shadow: 0 0 15px rgba(9, 24, 245, 0.2);
}
main .blank .layout .blank_form form button{
  width: 200px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-radius: 8px;
  background-color:#0000ff;
  cursor: pointer;
  transition: 0.3s;
}
main .blank .layout .blank_form form button:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-5px); 
}

@media (max-width: 767px){
  main .blank .layout .blank_all{
  grid-template-columns: 1fr;
  gap: 35px;
}
main .blank .layout .blank_all .blank_form{
  width: 100%;
  max-width: 350px;
}
}


footer{
  padding: 40px 0 40px 0;
  background-color: rgba(135, 206, 250, 0.3);  
}
footer .layout{
}
footer .layout .footer_contents{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 0 0 50px 0;
}
footer .layout .footer_contents .footer_logo{
  width: 250px;
}
footer .layout .footer_contents .footer_logo .footer_holder{
  width: 140px;
  height: 25px;
  margin: 0 0 20px 0;
}
footer .layout .footer_contents .footer_logo .footer_holder img{
  width: 100%;
  height: 100%;
  
}
footer .layout .footer_contents .footer_logo p{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #191970;
}
footer .layout .footer_contents .footer_nav a{
  transition: .3s;
}
footer .layout .footer_contents .footer_nav a:hover{
  color: #0000ff;
  text-decoration: underline;
}
footer .layout .footer_contents .footer_nav h3{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #191970;
  margin: 0 0 20px 0;
  text-decoration: underline;
}
footer .layout .footer_contents .footer_nav ul{}
footer .layout .footer_contents .footer_nav ul li{
  margin:  0 0 5px 0;
}
footer .layout .footer_contents .footer_nav ul li a{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191970;
}
footer .layout .footer_contents .footer_contacts{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .layout .footer_contents .footer_contacts .contact{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .layout .footer_contents .footer_contacts .contact h3{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #191970;
  margin: 0 0 20px 0;
  text-decoration: underline;
  
}
footer .layout .footer_contents .footer_contacts .contact a{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191970;
}
footer .layout .footer_contents .footer_contacts .contact address{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191970;
}
footer .layout .footer_contents .footer_contacts .social{
  display: flex;
  gap: 15px;
}
footer .layout .footer_contents .footer_contacts .social .social_holder{
  width: 20px;
  height: 20px;
}
footer .layout .footer_contents .footer_contacts .social .social_holder img{
  width: 100%;
  height: 100%;
}
footer .layout small{
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #191970;
  text-align: center;
  border-top: 1px solid #191970;
  padding: 20px 0 0 0;
}

@media (max-width: 767px){
footer .layout .footer_contents{
  grid-template-columns: 1fr;
  gap: 25px;
}
}








